In [1]:
import random
import json
import pandas as pd
import os

# Run the below cell to generate top100_scores.json if it does't exist

In [3]:
if 'top100_scores.json' not in os.listdir():
    with open('top100.txt') as input_file:
        from_file = input_file.readlines()
        from_file = [i.strip() for i in from_file]

    rankings = {k: 1000 for k in from_file}
    with open('top100_scores.json', 'w') as output_file:
        json.dump(rankings, output_file)

In [4]:
file_name = 'top100_scores.json'
with open(file_name) as input_file:
    movie_dict = json.load(input_file)

In [3]:
def update_elo(winner, loser, k=32):
    """
    Updates the ratings of the winner and loser based on the Elo rating system.
    :param winner: The movie that won the comparison
    :param loser: The movie that lost the comparison
    :param k: The constant factor that controls the rate of change of ratings
    """
    expected_winner = 1 / (1 + 10 ** ((movie_dict[loser] - movie_dict[winner]) / 400))
    expected_loser = 1 / (1 + 10 ** ((movie_dict[winner] - movie_dict[loser]) / 400))
    
    movie_dict[winner] += k * (1 - expected_winner)
    movie_dict[loser] += k * (0 - expected_loser)

# This is the cell that does everything. It will display two movies from your list. Choose between the two by entering in either "1" or "2". Entering "stop" will end the loop.

In [21]:
# iterations = 24
movies = list(movie_dict.keys())
choice = ''
while choice != 'stop':
    # iterations -= 1

    movie1 = random.choice(movies).strip()
    movies.remove(movie1)
    movie2 = random.choice(movies).strip()

    choice = input(f'Choose 1 or 2: {movie1} or {movie2}')
    movies.append(movie1)

    while choice != 'stop':
        if choice == '1':
            update_elo(movie1, movie2)
        elif choice == '2':
            update_elo(movie2, movie1)
        else:
            print('You did it wrong, try it again')
            break
        break

You did it wrong, try it again

# This cell saves it to the top100_scores file

In [6]:
output_json = 'top100_scores.json'
with open(output_json, 'w') as output:
    json.dump(movie_dict, output)

# This lists the top 10 movies and their ratings

In [7]:
df = pd.DataFrame({'movies': movie_dict.keys(),
                   'ratings': movie_dict.values()})
df.sort_values('ratings', ascending=False).head(10)

                         movies      ratings
19                    Chinatown  1173.383761
30                  Sunset Blvd  1144.679202
3                    Casablanca  1141.411924
6                  Pulp Fiction  1130.491792
46                        Akira  1117.356611
5   Good, the Bad, and the Ugly  1113.123423
8                 Seven Samurai  1111.742388
51                     Rashomon  1107.647303
1                     Godfather  1106.647010
2         2001: A Space Odyssey  1102.268331