In [4]:
import random
import json
import pandas as pd

In [2]:
file_name = '/home/glenn/Desktop/top100_scores.json'
with open(file_name) as input_file:
    movie_dict = json.load(input_file)

In [3]:
def update_elo(winner, loser, k=32):
    """
    Updates the ratings of the winner and loser based on the Elo rating system.
    :param winner: The movie that won the comparison
    :param loser: The movie that lost the comparison
    :param k: The constant factor that controls the rate of change of ratings
    """
    expected_winner = 1 / (1 + 10 ** ((movie_dict[loser] - movie_dict[winner]) / 400))
    expected_loser = 1 / (1 + 10 ** ((movie_dict[winner] - movie_dict[loser]) / 400))
    
    movie_dict[winner] += k * (1 - expected_winner)
    movie_dict[loser] += k * (0 - expected_loser)

In [21]:
# iterations = 24
movies = list(movie_dict.keys())
choice = ''
while choice != 'stop':
    # iterations -= 1

    movie1 = random.choice(movies).strip()
    movies.remove(movie1)
    movie2 = random.choice(movies).strip()

    choice = input(f'Choose 1 or 2: {movie1} or {movie2}')
    movies.append(movie1)

    while choice != 'stop':
        if choice == '1':
            update_elo(movie1, movie2)
        elif choice == '2':
            update_elo(movie2, movie1)
        else:
            print('You did it wrong, try it again')
            break
        break

You did it wrong, try it again

In [25]:
output_json = '/home/glenn/Desktop/top100_scores.json'
with open(output_json, 'w') as output:
    json.dump(movie_dict, output)

In [23]:
df = pd.DataFrame({'movies': movie_dict.keys(),
                   'ratings': movie_dict.values()})
df.sort_values('ratings', ascending=False).head(10)

                                   movies      ratings
30                            Sunset Blvd  1130.835248
19                              Chinatown  1128.962057
8                           Seven Samurai  1106.537765
46                                  Akira  1103.581683
2                   2001: A Space Odyssey  1092.202127
3                              Casablanca  1091.935324
6                            Pulp Fiction  1084.588986
29                                      M  1083.730804
42  Eternal Sunshine of the Spotless Mind  1082.119585
5             Good, the Bad, and the Ugly  1080.194433